{
  "openapi": "3.0.0",
  "info": {
    "title": "UXCam Seth API",
    "version": "1.0.0",
    "description": "Demo analytics API for session recording and user behavior tracking."
  },
  "servers": [
    {
      "url": "https://uxcam.sethakuoko.online/api/v1"
    }
  ],
  "paths": {
    "/sessions": {
      "get": {
        "summary": "List all sessions",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Start a new session",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/sessions/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get session details",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "summary": "Delete a session",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "List unique users",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Create user profile",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/users/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get user properties",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "summary": "Update user attributes",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/users/{id}/sessions": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get all sessions for a specific user",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/events": {
      "get": {
        "summary": "Query custom events",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Log a new event",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/events/summary": {
      "get": {
        "summary": "Get event frequency distribution",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/screens": {
      "get": {
        "summary": "List tracked app screens",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/screens/{name}/heatmap": {
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get touch coordinates for a screen",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/crashes": {
      "get": {
        "summary": "List recent application crashes",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "summary": "Report a new crash",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/crashes/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get stack trace for a crash",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/funnels": {
      "get": {
        "summary": "List conversion funnels",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/funnels/{id}/analysis": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get drop-off rates for a funnel",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/settings/config": {
      "get": {
        "summary": "Fetch remote SDK configuration",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/auth/token/{id}": {
      "post": {
        "summary": "Generate API access token",
        "responses": {
          "200": {
            "description": "asdfasdf",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "default": "asdfasdf"
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "operationId": "post_auth-token-id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "default": "asdfasdf"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "parasam",
            "schema": {
              "type": "string",
              "default": "asdf"
            }
          }
        ]
      }
    }
  }
}